<div id="<%= dom_id client_like %>">
  <p>
    <strong>Client profile:</strong>
    <%= client_like.client_profile_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= client_like.service_id %>
  </p>

</div>
