<div class="container">
  <p class="title-md mb"style="color: green"><%= notice %></p>

  <h1 class="title-lg mb">All urgencies</h1>

  <div id="urgencies">
    <% @urgencies.each do |urgency| %>
    <div class="mt-ls container">
       <%= render urgency %>
    </div>
  <% end %>

  <div class="container mt-ls">
    <%= link_to "New urgency", new_urgency_path, class: 'button button-main' %>
  </div>
</div>
