<div class="container">
   <h1 class="title-lg mb">New urgency</h1>
   <%= render "form", urgency: @urgency %>
   <div class="mt"><%= link_to "Back to urgencies", urgencies_path, class: 'button button-main'  %></div>
</div>


