<div class="container">
  <p class="title-md" style="color: green"><%= notice %></p>
  <%= render @urgency %>
  <p class="mt"><%= link_to "All urgencies", urgencies_path, class: 'button button-main' %></p>
</div>