<div class="container">
   <h1 class="title-lg mb">New comment</h1>
   <%= render "form", comment: @comment %>
   <div class="mt"><%= link_to "Back to comments", comments_path, class: 'button button-main'  %></div>
</div>

