<div id="<%= dom_id service %>">
  <p>
    <strong>Service:</strong>
    <%= service.service_id %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= service.species %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= service.difficulty %>
  </p>

</div>
