<div class="container">
  <p class="title-md mb"style="color: green"><%= notice %></p>

  <h1 class="title-lg mb">All services</h1>

  <div id="services">
    <% @services.each do |service| %>
    <div class="mt-ls container">
       <%= render service %>
    </div>
  <% end %>

  <div class="container mt-ls">
    <%= link_to "New service", new_service_path, class: 'button button-main' %>
  </div>
</div>
