<div class="container">
   <h1 class="title-lg mb">New service</h1>
   <%= render "form", service: @service %>
   <div class="mt"><%= link_to "Back to services", services_path, class: 'button button-main'  %></div>
</div>

