<div class="container">
  <h2 class="title-lg mb">Services</h2>
  <p style="color: green"><%= notice %></p>

  <% @services.each_with_index do |service, index| %>
    <%= render service %>
    <% unless index == @services.size - 1 %>
      <div class="divider"></div>
    <% end %>
  <% end %>

  <div class="field mt">
    <%= link_to "Back to main page", root_path, class: 'button button-yellow' %>
  </div>
</div>