<div class="container">
  <p class="title-md" style="color: green"><%= notice %></p>
  <%= render @service %>
  <p class="mt"><%= link_to "All services", services_path, class: 'button button-main' %></p>
</div>
