<div class="container">
  <p class="title-md mb"style="color: green"><%= notice %></p>

  <h1 class="title-lg mb">All difficulties</h1>

  <div id="difficulties">
    <% @difficulties.each do |difficulty| %>
    <div class="mt-ls container">
       <%= render difficulty %>
    </div>
  <% end %>

  <div class="container mt-ls">
    <%= link_to "New difficulty", new_difficulty_path, class: 'button button-main' %>
  </div>
</div>