<div class="container">
   <h1 class="title-lg mb">New difficulty</h1>
   <%= render "form", difficulty: @difficulty %>
   <div class="mt"><%= link_to "Back to difficulties", difficulties_path, class: 'button button-main'  %></div>
</div>

