<div id="<%= dom_id species %>">
  <p>
    <strong>Species:</strong>
    <%= species.species_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= species.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= species.type %>
  </p>

</div>
