<div class="container">
  <p class="title-md mb"style="color: green"><%= notice %></p>

  <h1 class="title-lg mb">All species</h1>

  <div id="species">
    <% @species.each do |species| %>
    <div class="mt-ls container">
       <%= render species %>
    </div>
  <% end %>

  <div class="container mt-ls">
    <%= link_to "New species", new_species_path, class: 'button button-main' %>
  </div>
</div>