<div class="container">
  <p class="title-md" style="color: green"><%= notice %></p>
  <%= render @species %>
  <p class="mt"><%= link_to "All species", species_index_path, class: 'button button-main' %></p>
</div>
