<div class="container">
  <p class="title-md mb"style="color: green"><%= notice %></p>

  <h1 class="title-lg mb">All types</h1>

  <div id="types">
    <% @types.each do |type| %>
    <div class="mt-ls container">
       <%= render type %>
    </div>
  <% end %>

  <div class="container mt-ls">
    <%= link_to "New type", new_type_path, class: 'button button-main' %>
  </div>
</div>
