<div class="container">
  <p class="title-md" style="color: green"><%= notice %></p>
  <%= render @type %>
  <p class="mt"><%= link_to "All types", types_path, class: 'button button-main' %></p>
</div>