<div id="<%= dom_id specialization %>">
  <p>
    <strong>Specialization:</strong>
    <%= specialization.specialization_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= specialization.title %>
  </p>

</div>
