<div class="container">
  <p class="title-md mb"style="color: green"><%= notice %></p>

  <h1 class="title-lg mb">All specializations</h1>

  <div id="specializations">
    <% @specializations.each do |specialization| %>
    <div class="mt-ls container">
       <%= render specialization %>
    </div>
  <% end %>

  <div class="container mt-ls">
    <%= link_to "New specialization", new_specialization_path, class: 'button button-main' %>
  </div>
</div>

