<div class="container">
   <h1 class="title-lg mb">New specialization</h1>
   <%= render "form", specialization: @specialization %>
   <div class="mt"><%= link_to "Back to specializations", specializations_path, class: 'button button-main'  %></div>
</div>

