<div class="container">
  <p class="title-md" style="color: green"><%= notice %></p>
  <%= render @specialization %>
  <p class="mt"><%= link_to "All specializations", specializations_path, class: 'button button-main' %></p>
</div>
