<div class="container">
  <p class="title-md mb"style="color: green"><%= notice %></p>

  <h1 class="title-lg mb">All positions</h1>

  <div id="positions">
    <% @positions.each do |position| %>
    <div class="mt-ls container">
       <%= render position %>
    </div>
  <% end %>

  <div class="container mt-ls">
    <%= link_to "New position", new_position_path, class: 'button button-main' %>
  </div>
</div>
