<div class="container">
   <h1 class="title-lg mb">New position</h1>
   <%= render "form", position: @position %>
   <div class="mt"><%= link_to "Back to positions", positions_path, class: 'button button-main'  %></div>
</div>

