<div class="container">
  <p class="title-md" style="color: green"><%= notice %></p>
  <%= render @position %>
  <p class="mt"><%= link_to "All positions", positions_path, class: 'button button-main' %></p>
</div>
