<html lang="en">
<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

    <div class="container">
        <p class="title-md"style="color: green"><%= notice %></p>

        <h1>All Services</h1>
        <div class="grid-container">
            <% current_service_type = nil %>
            <% @services.each do |service| %>
                <% unless current_service_type == service.service_type %>
                <% current_service_type = service.service_type %>
                    <div class="service-type-container">
                        <h2 class="grid-item"><%= current_service_type %></h2>
                        <ul class="service-list">
                            <% @services.select { |s| s.service_type == current_service_type }.each do |s| %>
                                <li><%= s.title %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
            <% end %>
        </div>
    
        <footer class="footer">
            <div class="row">
                <div class="footer-col">
                    <h4>Про нас</h4>
                    <ul>
                        <li><a href="#">Про проект Бджілка</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Як це працює</h4>
                    <ul>
                        <li><a href="#">Як замовити послугу</a></li>
                        <li><a href="#">Як зареєструвати ФОП</a></li>
                        <li><a href="#">Гарантія та безпека</a></li>
                        <li><a href="#">Останні відгуки</a></li>
                        <li><a href="#">Топ виконавці</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Допомога</h4>
                    <ul>
                        <li><a href="#">Питання та відповіді</a></li>
                        <li><a href="#">Правила конфіденційності</a></li>
                        <li><a href="#">Публічна оферта</a></li>
                        <li><a href="#">Служба підтримки</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Слідкуйте за нами</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </footer>

    </div>

</body>
</html>