<html lang="en">
<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>


    <div class="container">
    <p class="title-md"style="color: green"><%= notice %></p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida rutrum quisque non tellus orci ac auctor augue. Auctor urna nunc id cursus. Malesuada fames ac turpis egestas sed tempus urna. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Cras pulvinar mattis nunc sed blandit libero. Felis eget velit aliquet sagittis. Sed augue lacus viverra vitae congue eu consequat. Massa sed elementum tempus egestas sed sed. Aliquam etiam erat velit scelerisque in dictum non consectetur a. At risus viverra adipiscing at in tellus. Commodo ullamcorper a lacus vestibulum sed. Habitant morbi tristique senectus et netus et malesuada. Sed euismod nisi porta lorem mollis aliquam ut.
        Tincidunt dui ut ornare lectus sit amet. Et netus et malesuada fames ac turpis egestas maecenas pharetra. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. Risus at ultrices mi tempus. Fringilla est ullamcorper eget nulla. Erat imperdiet sed euismod nisi porta lorem. Integer feugiat scelerisque varius morbi. Aliquet nibh praesent tristique magna sit amet purus gravida. Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Etiam erat velit scelerisque in dictum non consectetur. Ut sem viverra aliquet eget sit amet tellus cras. Blandit libero volutpat sed cras ornare arcu dui. At consectetur lorem donec massa sapien faucibus et.
        Vitae congue mauris rhoncus aenean vel. Quis commodo odio aenean sed adipiscing diam. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Facilisis gravida neque convallis a cras semper. Suscipit adipiscing bibendum est ultricies integer quis. Et tortor consequat id porta nibh venenatis cras sed. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Tempor nec feugiat nisl pretium fusce. Nec sagittis aliquam malesuada bibendum arcu vitae elementum. In ornare quam viverra orci. Non tellus orci ac auctor augue mauris augue neque gravida.
        Euismod nisi porta lorem mollis aliquam ut porttitor leo a. In fermentum et sollicitudin ac. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Faucibus scelerisque eleifend donec pretium vulputate sapien nec. Lacinia at quis risus sed vulputate odio ut. Ac ut consequat semper viverra nam. Pulvinar etiam non quam lacus. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Nisl tincidunt eget nullam non nisi est. Massa id neque aliquam vestibulum morbi blandit. Pellentesque habitant morbi tristique senectus et. Dolor sit amet consectetur adipiscing. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Odio tempor orci dapibus ultrices in. Eget egestas purus viverra accumsan in nisl nisi scelerisque eu. Fames ac turpis egestas maecenas. Mi bibendum neque egestas congue quisque. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Lacinia at quis risus sed vulputate odio ut enim blandit
        Id eu nisl nunc mi ipsum faucibus vitae. Neque aliquam vestibulum morbi blandit cursus risus at. Egestas purus viverra accumsan in nisl nisi. Faucibus a pellentesque sit amet porttitor eget dolor morbi. Nisl purus in mollis nunc sed id semper risus. Nulla facilisi cras fermentum odio eu feugiat pretium nibh. Porttitor leo a diam sollicitudin. Tincidunt nunc pulvinar sapien et. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Sed elementum tempus egestas sed sed risus pretium quam vulputate.
        Sit amet mauris commodo quis imperdiet massa tincidunt nunc. Tempus quam pellentesque nec nam aliquam sem et tortor. Arcu cursus vitae congue mauris rhoncus. Leo integer malesuada nunc vel risus commodo viverra maecenas. Mattis pellentesque id nibh tortor id aliquet lectus. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Interdum velit laoreet id donec ultrices tincidunt arcu non. Volutpat sed cras ornare arcu. Non pulvinar neque laoreet suspendisse interdum consectetur libero. Eu mi bibendum neque egestas. Odio euismod lacinia at quis risus sed vulputate. Elementum facilisis leo vel fringilla est ullamcorper. Et pharetra pharetra massa massa ultricies. Viverra accumsan in nisl nisi. Massa placerat duis ultricies lacus sed. Ultricies tristique nulla aliquet enim tortor at auctor.
        Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Malesuada proin libero nunc consequat interdum varius sit amet mattis. Massa id neque aliquam vestibulum morbi. Euismod elementum nisi quis eleifend quam adipiscing vitae proin. Commodo nulla facilisi nullam vehicula ipsum a. Ac tortor dignissim convallis aenean et tortor. Vitae auctor eu augue ut lectus arcu bibendum at. Est ante in nibh mauris cursus mattis molestie a. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Adipiscing commodo elit at imperdiet. Leo vel orci porta non pulvinar neque laoreet suspendisse interdum. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget. Libero volutpat sed cras ornare arcu dui vivamus arcu felis. Elementum eu facilisis sed odio. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Tincidunt vitae semper quis lectus nulla at volutpat diam ut. Aliquam ut porttitor leo a diam. Vel facilisis volutpat est velit egestas dui id ornare.
        Velit ut tortor pretium viverra suspendisse potenti nullam. Gravida cum sociis natoque penatibus et magnis dis parturient. At elementum eu facilisis sed odio morbi quis. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Faucibus pulvinar elementum integer enim neque volutpat ac. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Aliquam malesuada bibendum arcu vitae. Amet consectetur adipiscing elit duis tristique sollicitudin nibh. Pellentesque dignissim enim sit amet venenatis urna cursus eget. Euismod quis viverra nibh cras pulvinar mattis nunc sed. Suspendisse ultrices gravida dictum fusce ut. Libero nunc consequat interdum varius sit. Ultrices vitae auctor eu augue ut. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Arcu dui vivamus arcu felis bibendum ut tristique et egestas.
    </p>

    <footer class="footer">
        <div class="row">
            <div class="footer-col">
                <h4>Про нас</h4>
                <ul>
                    <li><a href="#">Про проект Бджілка</a></li>
                    <li><a href="#">Контакти</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Як це працює</h4>
                <ul>
                    <li><a href="#">Як замовити послугу</a></li>
                    <li><a href="#">Як зареєструвати ФОП</a></li>
                    <li><a href="#">Гарантія та безпека</a></li>
                    <li><a href="#">Останні відгуки</a></li>
                    <li><a href="#">Топ виконавці</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Допомога</h4>
                <ul>
                    <li><a href="#">Питання та відповіді</a></li>
                    <li><a href="#">Правила конфіденційності</a></li>
                    <li><a href="#">Публічна оферта</a></li>
                    <li><a href="#">Служба підтримки</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Слідкуйте за нами</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>

    </div>

</body>
</html>