<div class="mb-sm"> 
  <%= status.title %>
</div>

<div class="text-sm footer-contenter">
  <div class="mr-sm"><%= link_to fa_icon('pencil'), edit_status_path(status), title: 'Edit status' %></div>
  <div class="mr-sm"><%= link_to fa_icon('star'), status_path(status), title: 'Show this status' %></div>
  <div class="mr-sm"><%= button_to fa_icon('trash-o'), status_path(status), method: :delete, title: 'Delete status'%></div>
</div>

