<div class="container">
  <p class="title-md mb"style="color: green"><%= notice %></p>

  <h1 class="title-lg mb">All statuses</h1>

  <div id="statuses">
    <% @statuses.each do |status| %>
    <div class="mt-ls container">
       <%= render status %>
    </div>
  <% end %>

  <div class="container mt-ls">
    <%= link_to "New status", new_status_path, class: 'button button-main' %>
  </div>
</div>
