<div class="container">
<h1 class="title-lg mb">New status</h1>
<%= render "form", status: @status %>
<div class="mt"><%= link_to "Back to status", statuses_path, class: 'button button-main'  %></div>
</div>