<div class="container">
  <p class="title-md" style="color: green"><%= notice %></p>
  <%= render @status %>
  <p class="mt"><%= link_to "All statuses", statuses_path, class: 'button button-main' %></p>
</div>