<div class="container">
  <p class="title-md mb"style="color: green"><%= notice %></p>

  <h1 class="title-lg mb">All orders</h1>

  <div id="orders">
    <% @orders.each do |order| %>
    <div class="mt-ls container">
       <%= render order %>
    </div>
  <% end %>

  <div class="container mt-ls">
    <%= link_to "New order", new_order_path, class: 'button button-main' %>
  </div>
</div>

