<div class="container">
   <h1 class="title-lg mb">New order</h1>
   <%= render "form", order: @order %>
   <div class="mt"><%= link_to "Back to orders", orders_path, class: 'button button-main'  %></div>
</div>