<div class="container">
   <h1 class="title-lg mb">New employee</h1>
   <%= render "form", employee: @employee %>
   <div class="mt"><%= link_to "Back to employees", employees_path, class: 'button button-main'  %></div>
</div>

