<div class="container">
  <p class="title-md" style="color: green"><%= notice %></p>
  <%= render @employee %>
  <p class="mt"><%= link_to "All employees", employees_path, class: 'button button-main' %></p>
</div>
