<div class="container">
  <p class="title-md"style="color: green"><%= notice %></p>

  <h1 class="title-lg mb">All clients</h1>

  <div id="clients">
    <% @clients.each do |client| %>
    <div class="mt-ls container">
       <%= render client %>
    </div>
  <% end %>

  <div class="container mt-ls">
    <%= link_to "New client", new_client_path, class: 'button button-main' %>
  </div>
</div>