<div class="container">
  <p class="title-md mb" style="color: green"><%= notice %></p>   
  <p class="title-lg mb" style="color: green"><%= notice %></p>
  <%= render @client %>
  <p class="mt"><%= link_to "All clients", clients_path, class: 'button button-main' %></p>
</div>
