<div class="container">
  <p class="title-md mb"style="color: green"><%= notice %></p>

  <h1 class="title-lg mb">All addresses</h1>

  <div id="addresses">
    <% @addresses.each do |address| %>
    <div class="mt-ls container">
       <%= render address %>
    </div>
  <% end %>

  <div class="container mt-ls">
    <%= link_to "New address", new_address_path, class: 'button button-main' %>
  </div>
</div>
