<div class="container">
   <h1 class="title-lg mb">New address</h1>
   <%= render "form", address: @address %>
   <div class="mt"><%= link_to "Back to addresses", addresses_path, class: 'button button-main'  %></div>
</div>

