<div class="container">
  <p class="title-md" style="color: green"><%= notice %></p>
  <%= render @address %>
  <p class="mt"><%= link_to "All addresses", addresses_path, class: 'button button-main' %></p>
</div>